/* Colours:
Main: #03545C rgb(3, 84, 92)
Secondary: #090C0C
Accent: #42DCA3
Light: #F2F6F7
Mid: #2D3738
*/

h2 {
    text-transform: uppercase;
}

.navbar-custom .navbar-toggle {
    background-color: rgba(3, 84, 92, 0.2);
}


.navbar-custom.top-nav-collapse div div a {
    color: #F2F6F7;
}

@media (min-width: 768px) {
    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(3, 84, 92, 0.3);
        background: #03545C;
    }
}

.navbar-custom .nav li.active a {
    background-color: rgba(242, 246, 247, 0.3);
}


.navbar-custom {
}

#contact_form div input, textarea {
    color: #090C0C;
}

.intro-text{
    font-family: 'Exo 2', sans-serif;   
}

body {
    background-color: #F2F6F7;
    color: #090C0C;
    font-family: 'Exo 2', sans-serif;
}

body a {
    color: #03545C;   
}


.intro {
    color: #F2F6F7;
    background: #03545C;
}

.download-section {
    color: #F2F6F7;
    background: #03545C;
}