/* Colours:
Main: #03545C rgb(3, 84, 92)
Secondary: #090C0C
Accent: #42DCA3
Light: #F2F6F7
Mid: #2D3738
*/
body {
    font-family: 'Exo 2', sans-serif;
    color: #090C0C;
    background-color: #F2F6F7;
}

h1,
h2,
h3,
h4,
h5,
h6 {

}

p {

}

@media (min-width: 768px) {
    p {
    }
}

a {
    color: #03545C;  
}

.navbar-custom {
}

.navbar-custom .navbar-toggle {
    background-color: rgba(3, 84, 92, 0.2);
}

.navbar-custom a {
    color: #F2F6F7;
}

.navbar-custom .nav li a {
}

.navbar-custom .nav li.active {
}

.navbar-custom .nav li.active a {
    background-color: rgba(242, 246, 247, 0.3);
}

.navbar-custom .nav li.active a:hover {
}

@media (min-width: 768px) {
    .navbar-custom {}
    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(3, 84, 92, 0.3);
        background: #03545C;
    }
    .navbar-custom.top-nav-collapse {
    }
}

.intro {
    color: #F2F6F7;
    background: url(../img/bg.png) bottom center scroll;
}

.intro-text.large { 
    display:inherit;
}

.intro-text.small { 
    display: none;
}

@media (max-width: 430px) { 
    .intro-text.large { display: none; }
    .intro-text.small { display: inherit; }
}

.intro .intro-body {
}

.intro .intro-body .brand-heading {
}

.intro .intro-body .intro-text {
    font-family: 'Exo 2', sans-serif;
}


@media (min-width: 768px) {
    .intro {
    }

    .intro .intro-body .brand-heading {
    }

    .intro .intro-body .intro-text {
    }
}

.content-section {
    padding-top: 100px;
}

.alt-content-section {
    color: #F2F6F7;
    background: #03545C;
    width: 100%;
    padding: 50px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media (min-width: 767px) {
    .content-section {
        padding-top: 250px;
    }
    .download-section {
        padding: 100px 0;
    }
}


.highlights-grid {

}

.highlight-title {
    padding: 3px 0 0 0;
    margin: 0 4px;
    font-size: 15px;
    font-weight: bold;
}

.highlight-location {
}

.highlight-date {
    font-size: 11px;
    font-style: italic;
    padding-bottom: 10px;
}

.highlight-image {
    padding: 10px;
}

.highlight-image i:hover {
}



